<p id="notice"><%= notice %></p>

<% if @user.avatar.attached? %>
  <p>
    <%= image_tag @user.avatar.variant(resize: '100x100') %>
  </p>
<% end %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
